<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>installerSigningCertificate</key>
	<string>3rd Party Mac Developer Installer: Richard Piazza (EX6YK9HKXA)</string>
	<key>method</key>
	<string>app-store-connect</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.richardpiazza.lingua</key>
		<string>b0bc92fb-02bc-4d09-bbce-d5a212567075</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution: Richard Piazza (EX6YK9HKXA)</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>EX6YK9HKXA</string>
</dict>
</plist>
